<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Device infos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-item>
    <ion-label *ngIf="deviceInfos !== undefined">
      <h2>Infos</h2>
      <p>Plateforme : {{deviceInfos.platform}}</p>
      <p>Nom : {{deviceInfos!.name}}</p>
      <p>Version OS : {{deviceInfos!.osVersion}}</p>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="deviceBattery !== undefined">
    <ion-label>
      <h2>Batterie</h2>
      <p>Niveau de batterie : {{deviceBattery.batteryLevel! * 100 | number : '1.0-2'}}%</p>
      <p>En charge : {{deviceBattery.isCharging}}</p>
    </ion-label>
  </ion-item> 
</ion-content>
